{% extends 'base.html' %}
{% load static %}



{% block content %}

    <section class="events-sect">
        <h1>Events</h1>

        <div class="events">
            {% for event in all_events %}
            <!-- events card 1  -->
            <div class="event_card">
                <div class="event_img">
                    <img src="{{event.imageURL}}" alt="cfm {{event.name}} event image">
                </div>
                <div class="event_card_text">
                    <h2 class="event_card_title">{{event.name}}</h2>
                    <p class="event_card_date">{{event.date}}</p>
                    <p class="event_card_desc">
                        {{event.description}}
                    </p>
                    <p class="event_card_btn">Register</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>

{% endblock %}
