{% extends 'base.html' %}
{% load static %}



{% block content %}

    <section class="events-sect">
        <h1>Events</h1>

        <div class="events">

            <!-- events card 1  -->
            <div class="event_card">
                <div class="event_img">
                    <img src="" alt="">
                </div>
                <div class="event_card_text">
                    <h2 class="event_card_title">Event name</h2>
                    <p class="event_card_date">event date</p>
                    <p class="event_card_desc">
                        Lorem ipsum dolor sit amet, consectetur 
                        adipisicing elit. Voluptates error sint
                        , quam sunt assumenda minima minus!
                    </p>
                    <p class="event_card_btn">Register</p>
                </div>
            </div>

            <!-- events card 2  -->
            <div class="event_card">
                <div class="event_img">
                    <img src="" alt="">
                </div>
                <div class="event_card_text">
                    <h2 class="event_card_title">Event name</h2>
                    <p class="event_card_date">event date</p>
                    <p class="event_card_desc">
                        Lorem ipsum dolor sit amet, consectetur 
                        adipisicing elit. Voluptates error sint
                        , quam sunt assumenda minima minus!
                    </p>
                    <p class="event_card_btn">Register</p>
                </div>
            </div>

        </div>
    </section>

{% endblock %}