{% extends 'base.html' %}
{% load static %}



{% block content %}

  <div id="works-parent" class="works-parent">
    <div id="hiw-close" class="hiw-close">x</div>
    <section class="homepage-services hiw-services">
        <h1>How It Works</h1>

        <div class="service-cards">
          <div>
            <img class="icon-1" src="{% static 'assets/img/connect.png' %}" alt="">
            
            <h1 class="text-wrapper">Connect</h1>
            <p class="desc-text">
              Connect your store and send us your inventory
            </p>
          </div>
          
          <div>
            <img class="icon-1" src="{% static 'assets/img/management.png' %}" alt="">
            
            <h1 class="text-wrapper">Store</h1>
            <p class="desc-text">
              Your inventory is categorized and securely stored 
            </p>
            
          </div>

          <div>
            <img class="icon-1" src="{% static 'assets/img/shipto.png' %}" alt="">
            
            <h1 class="text-wrapper">Ship</h1>
            <p class="desc-text">
              Once a customer places an order, we Pick, Pack & Ship
            </p>
            
          </div>
        </div>
    </section>
  </div>
  
  <div class="founders-about">
    <div id="founders-about-close" class="founders-about-close">x</div>
    <div class="about-card">
        
        <div class="ab-desc">
            <span class="ceo-name">Terms & Conditions</span>
            <span class="ceo-label">The Hub</span>
            <span class="ceo-text">“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet, venenatis.</span>
            
        </div>
    </div>
  </div>
    

    
    
    <section class="login-page hidden">
        <div class="child-1">
            <img src="{% static 'assets/img/office-equipment.png' %}" alt="">
        </div>

        <div class="child-2">
            <form action="mailto:regalcoronets@gmail.com">

                <h1>Nice to see You again</h1>

                <div class="login-inputs">
                    <label for="username">Login</label>
                    <input type="text" name="username" placeholder="Email or phone number" id="username">
                </div>

                <div class="login-inputs">
                    <label for="password">Password</label>
                    <input type="text" name="password" placeholder="Enter password" id="password">
                </div>

                <div class="login-radio" style="display: grid; grid-template-columns: 1fr 1fr;">
                    <div class="radio-btn">
                        <label class="switch">
                            <input type="checkbox" checked>
                            <span class="slider round"></span>
                            <p>Remember me</p>
                        </label>
                    </div>

                    <div>
                        <a href="https://www.thehubng.com/">Forgot password?</a>
                    </div>
                </div>

                <div>
                    <button type="submit">Sign In</button>
                </div>

                <div class="login-register-btn">
                    <a href="{% url 'register' %}">Dont have an account? <span>Sign Up</span></a>
                </div>
            </form>
        </div>
    </section>

{% endblock %}
