{% extends 'base.html' %}
{% load static %}



{% block content %}

    <section class="sermons gallery-sect">
        <div class="gallery-category">
            <a href="{% url 'sermons' 'sermons' %}" class="gallery-link">All Sermons</a>
            <a href="{% url 'sermons' 'discipleship' %}" class="gallery-link">Discipleship</a>
            <a href="{% url 'sermons' 'children' %}" class="gallery-link">Children Ministry</a>
            <a href="{% url 'sermons' 'podcast' %}" class="gallery-link">Podcasts</a>
            <a href="{% url 'sermons' 'celebration' %}" class="gallery-link">Celebrations</a>
        </div>
        
        <div class="events">
            {% for sermon in all_sermons %}
            <!-- events card 1  -->
            <div class="event_card">
                <div class="event_img">
                    <img src="{{sermon.imageURL}}" alt="cfm {{sermon.name}} sermon image">
                </div>
                <div class="event_card_text" data-videoLink="{{sermon.link}}">
                    <h2 class="event_card_title">{{sermon.name}}</h2>
                    <p class="event_card_date">{{sermon.date}}</p>
                    <p class="event_card_desc">
                        {{sermon.description}}
                    </p>
                    <p class="event_card_btn">Watch</p>
                </div>
            </div>
            {% endfor %}            
        </div>

        <div class="service-video">
            <div class="service-video-close">x</div>
            <div class="video-card">
                <div class="ab-img">
                    <iframe src="https://www.youtube.com">
                    </iframe>
                    <video style="display: none;" controls>
                        <source src="{% static 'assets/videos/cfm.mp4' %}" type="video/mp4">
                    Your browser does not support the video tag.
                    </video> 
                </div>
            </div>
        </div>
    </section>

{% endblock %}